* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(225, 211, 206, 0) 1.82%, rgba(225, 211, 206, 0.29) 9.22%, rgba(225, 211, 206, 0.509333) 17.48%, rgba(225, 211, 206, 0.73) 22.69%, rgba(225, 211, 206, 0.850811) 27.99%, #E1D3CE 36.11%, rgba(225, 211, 206, 0.87) 53.49%, rgba(225, 211, 206, 0.65) 73.94%, rgba(225, 211, 206, 0) 96.08%);
}

body {
  margin: 0;
  font-family: "Cormorant Garamond";
}

html {
  scroll-behavior: smooth;
}