.experience-section {
  background-color: #E1D3CE;
  text-align: center;
}
.title-wrapper {
  margin-bottom: 70px;
  position: relative;
}

.title-wrapper h2 {
  font-size: 40px;
  font-weight: 500;
  color: #222;
  line-height: 1.3;
}
.cards-wrapper {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  width: 260px;
  height: 420px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease;
}
.card image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-10px);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}

.overlay h3 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.arrow {
  width: 60px;
  height: 60px;
  background-color: #b68b3c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  left :68rem;
  bottom:16rem;
  rotate: 30deg;
}

.arrow:hover {
  background-color: #9f762f;
}

@media (max-width: 900px) {
  .cards-wrapper {
    flex-wrap: wrap;
  }
  .arrow {
    display: none;
  }
  .title-wrapper h2 {
    font-size: 30px;
  }
}

 .cards-wrapper::-webkit-scrollbar {
          display: none;
        }
        .experience-title {
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          padding: 40px 80px;
        }
        @media (max-width: 768px) {
          .experience-title {
            padding: 40px 20px;
            font-size: 24px;
          }
        }