.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  font-family: "Cormorant Garamond";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #ffffff00, #e1d2cd);
}
.main-content {
  position: absolute;
  inset: 0;
}
.content {
  position: relative;
  z-index: 10;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}
.welcome {
  letter-spacing: 4px;
  font-size: 30px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}
.title {
  font-size: 180px;
  line-height: 1.1;
  font-weight: 500;
}

@media (max-width: 900px) {
  .title {
    font-size: 80px;
  }
  .welcome {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 48px;
  }
  .welcome {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .content {
    padding: 0 20px;
  }
}
