.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  font-family: "Cormorant Garamond";
}
.main-content {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
.content {
  position: relative;
  z-index: 10;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.welcome {
  letter-spacing: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  color: #000;
}
.title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 500;
}
